$bg: #f5f5f5;
$primary: #1b3767;
$white: #fff;
$danger: #fa6342;
$success: #1abc9c;
$black: #000;
$grey: rgb(111, 108, 108);
$footer-bg: #e5e6e7;
$footer-text: #9f9e9e;
$search-bg: #e2e2e9;
$border: #e1dede;
$active: #ff811f;